.hotel {
  display: flex;
  margin: 100px 0;
  justify-content: center;
  align-items: center;
  .sub-container-hotel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-hotel {
      width: 50%;
    }
    .image-hotel {
      width: 50%;
      background: #298594;
      height: 30vh;
      display: flex;
      padding: 20px 0;
      justify-content: center;
      align-items: center;
      img {
        height:400px;
        width: 90%;
      }
    }
    .content-hotel {
      background: #298594;
      min-height: 30vh;

      padding: 20px 0;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .sub-content-hotel {
        width: 70%;
        h1 {
          font-size: 28px;
        }
        p {
          line-height: 1.5;
          font-size: 18px;
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .sub-container-hotel {
    flex-wrap: wrap;
    .content-hotel,
    .image-hotel {
      width: 100% !important;
    }
    .image-hotel {
      align-items: flex-end !important;
      background: #fff !important;
      img {
        height: 375px !important;
      }
    }
  }
}


@media screen and (max-width: 425px) {
    .sub-container-hotel {
      flex-wrap: wrap;
      .content-hotel,
      .image-hotel {
        width: 100% !important;
      }
      .image-hotel {
        padding: 0 !important;
        background: #fff !important;
        align-items: flex-start !important;
        img {
          height: 240px !important;
          width: 100% !important;
        }
      }
      .content-hotel{
        min-height: 30vh !important;
        height: auto;
        .sub-content-hotel{
          width: 80% !important;
        }
      }
    }
  }
