.services {
  margin-top: 70px;
  padding: 0px 0 50 0px;
  //  background: orange;
  h1,
  p {
    text-align: center;
    margin: 0;
  }
  h1 {
    font-size: 28px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    color: #434a547a;
    padding: 0 15px;
  }
  .service-cards {
    margin-top: 40px;
    // background: pink;
    // display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    flex-wrap: wrap;

    .card {
      box-shadow: none;
      transition-duration: 0.5s;
      border: none;

      // float: left;
      height: 350px;
      width: 250px;
      background: red;
      margin: 15px 12px;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      top: 0;
      h2::before {
        content: "";
        height: 100%;
        width: 100%;
      }
      h2 {
        width: 100%;

        background: #0000005b;
        backdrop-filter: blur(3px);

        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin: 0;
        z-index: 1;
        padding: 12px 0px;
        color: $color_1;
      }
    }
    .card:hover {
      transform: translateY(-5px);
      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.5s;

      box-shadow: 0px 0px 5px rgba(45, 55, 68, 0.2);

      cursor: pointer;
    }
    .card-1 {
      background: url("../images/servicelocations/srilanka.jpg") no-repeat
        center/cover;
    }

    .card-2 {
      background: url("../images/servicelocations/turkey1.jpg") no-repeat
        center/cover;
    }

    .card-3 {
      background: url("../images/servicelocations/indonesia-bali.jpg") no-repeat
        center/cover;
    }
    .card-4 {
      background: url("../images/servicelocations/saudiarabia.jpg") no-repeat
        center/cover;
    }
    .card-5 {
      background: url("../images/servicelocations/malaysia.jpg") no-repeat
        center/cover;
    }
    .card-6 {
      background: url("../images/servicelocations/egypt.jpg") no-repeat
        center/cover;
    }
    .card-7 {
      background: url("../images/servicelocations/baku.jpg") no-repeat
        center/cover;
    }
    .card-8 {
      background: url("../images/servicelocations/mardives.jpg") no-repeat
        center/cover;
    }
    .card-9 {
      background: url("../images/servicelocations/dubai.jpg") no-repeat
        center/cover;
    }
    .card-10 {
      background: url("../images/servicelocations/singapore.jpg") no-repeat
        center/cover;
    }
    .card-11 {
      background: url("../images/servicelocations/thailand.jpg") no-repeat
        center/cover;
    }
  }
}

@media screen and (max-width: 425px) {
  .service-cards {
    display: flex !important;
    padding: 0 !important;
    justify-content: center !important;
  }
}
